<div class="row">
  <div class="column">
    <div class="row" id="beer_details">
      <div class="small-3 columns" id="beer-picture">
        <%= image_tag(@beer.image) %>
      </div>
      <div class="small-9 columns">
        <div class="row">
          <div class="small-6 columns">
            <% if @beer.average_rating == nil %>
              <h1 class="white-text"><%= @beer.name %></h1>
            <% else %>
              <h1 class="white-text"><span id="rating"><%= @beer.average_rating %></span> <%= @beer.name %></h1>
            <% end %>
            <h4 class="white-text"><%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %></h4>
          </div>
          <div class="small-6 columns" id="show-buttons">
            <% if user_signed_in? && @beer.amendable?(current_user) %>
              <ul class="button-group round even-3">
                <li><%= link_to "New Review", new_beer_review_path(@beer), class: "button tiny" %></li>
                <li><%= link_to "Delete Beer", beer_path(@beer), method: :delete, class: "button tiny" %></li>
                <li><%= link_to "Edit Beer", edit_beer_path(@beer), class: "button tiny" %></li>
              </ul>
            <% elsif user_signed_in? %>
                <%= link_to "New Review", new_beer_review_path(@beer), class: "button radius small" %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns">
            <p class="white-text"><%= link_to @beer.style.name, style_path(@beer.style) %>/<%= @beer.abv %>% ABV/<%= @beer.ibu %> IBUs</p>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <p class="text-left white-text"><%= @beer.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="review_box">
      <div class="column">
        <% @beer.reviews.order(created_at: :desc).each do |review| %>
          <div class="row panel" id="each_review">
            <% if user_signed_in? %>
              <div class="small-3 columns">
                <div class="upvote">
                  <%= link_to raw("<i class='fi-arrow-up'></i>"), review_upvotes_path(review), method: :post, id: "upvote", class: "vote-arrow" %>
                </div>
                <div>
                  <span id="upvote_count<%= review.id %>"><%= review.upvotes_count %> beer(s) on the wall</span>
                </div>
                <div class="downvote">
                  <%= link_to raw("<i class='fi-arrow-down'></i>"), review_downvotes_path(review), method: :post, id: "downvote", class: "vote-arrow" %>
                </div>
                <% if review.amendable?(current_user) %>
                  <ul class="button-group stack">
                    <li><%= link_to "Edit Review", edit_beer_review_path(@beer, review), class: "radius button tiny edit_button" %></li>
                    <li><%= link_to "Delete Review", review_path(review), method: :delete, class: "radius button tiny" %></li>
                  </ul>
                <% end %>
              </div>
              <div class="small-9 columns">
                <div class="row">
                  <div class="column" id="rating<%= review.id %>">
                    <p class="review_item<%= review.id %>" id="review_rating<%= review.id %>">Rating: <%= review.rating %>/10</p>
                  </div>
                </div>
                <div class="row">
                  <div class="column" id="description<%= review.id %>">
                    <p class="review_item<%= review.id %>" id="review_description<%= review.id %>"><%= review.description %></p>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="small-3 columns">
                <div>
                  <%= review.upvotes_count %> beer(s) on the wall
                </div>
              </div>
              <div class="small-9 columns">
                <div class="row">
                  <div class="column" id="rating<%= review.id %>">
                    <p class="review_item<%= review.id %>" id="review_rating<%= review.id %>">Rating: <%= review.rating %>/10</p>
                  </div>
                </div>
                <div class="row">
                  <div class="column" id="description<%= review.id %>">
                    <p class="review_item<%= review.id %>" id="review_description<%= review.id %>"><%= review.description %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @reviews %>
<%= page_entries_info @reviews %>
