<h1><%= @beer.name %></h1>
<div>
  Style: <%= @beer.style.name %>
</div>
<div>
  ABV: <%= @beer.abv %>
</div>
<div>
  IBU: <%= @beer.ibu %>
</div>
<div>
Description: <%= @beer.description %>
</div>
<%-if @beer.owner?(current_user) -%>
  <%= link_to "Delete Beer", beer_path(@beer), method: :delete %>
  <%= link_to "Edit Beer", edit_beer_path(@beer) %>
<%-end-%>
Reviews:
<%-@beer.reviews.each do |review|-%>
  <div class="panel">
    <div>
      Rating: <%= review.rating %>
    </div>
    <div>
      Description: <%= review.description %>
    </div>
  </div>
<%-end-%>
