<%= form_for [@beer, @review] do |f| %>
  <% if @review.errors.any? %>
  <div id="error_explanation">
    <h2 class="formerrors"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
      <li class="formerrors"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="column">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :rating, "Rating", class: "formlabels right inline" %><br>
        </div>
        <div class="small-10 columns">
          <%= f.select :rating, options_for_select(1..10) %>
        </div>
      </div>
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :description, for: "reviewdescription-field", class: "formlabels right inline" %><br>
        </div>
        <div class="small-10 columns">
          <%= f.text_area :description, id: "reviewdescription-field", placeholder: "Review Description" %>
        </div>
      </div>
      <div class="row">
        <div class="column small-offset-2">
          <%= f.submit "Submit Review", class: "button small radius" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
