<% if @review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for [@beer, @review], url: beer_reviews_path do |f| %>
<div class="review">
  <%= f.label :rating %>
  <%= f.select :rating, options_for_select(0..10) %>
</div>

<div class="review">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="post">
  <%= f.submit "Edit Review" %>
</div>
<div class="delete">
<%= button_to "Delete", reviews_path @review, method: 'delete' %>
</div>
<% end %>
